{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier"
  ],
  "plugins": ["jest"],
  "rules": {
    "strict": ["error", "never"]
  },
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
